.m_hover_container{
  position: relative;
  font-size: 12px;
  height: 12px;
  width: 12px;
  display: inline-block;
  .icon{
    width: 12px;
    height: 12px;
    box-sizing: content-box;
    transform: scale(.8);
    border: 1px solid #ffa354;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    border-radius: 12px;
    color: #ffa354;
    position: relative;
  }
  .content{
    color: #666;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 3px 10px;
    display: none;

    .hover_content_main{
      position: relative;
      max-width: 500px;
      word-break: break-word;
      white-space: nowrap;
      z-index: 1;
    }
    .hover_arrow_icon{
      position: absolute;
      width: 12px;
      height: 12px;
      border: 1px solid #e8e8e8;
      border-top-width: 0;
      border-left: 0;
      background: #fff;
    }
  }

  &.left{
    .content{
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }
    .hover_arrow_icon{
      margin-top: -7px;
      top: 50%;
      right: -7px;
      transform: rotate(-45deg);
    }
  }

  &.right{
    .content{
      top: 50%;
      left: 26px;
      transform: translateY(-50%);
    }
    .hover_arrow_icon{
      margin-top: -7px;
      top: 50%;
      left: -7px;
      transform: rotate(135deg);
    }
  }

  &.bottom{
    .content{
      margin-left: 7px;
      left: 50%;
      top: 25px;
      transform: translateX(-50%);
    }
    .hover_arrow_icon{
      margin-left: -12px;
      left: 50%;
      top: -7px;
      transform: rotate(-135deg);
    }
  }

  &.top{
    .content{
      margin-left: 7px;
      left: 50%;
      bottom: 25px;
      transform: translateX(-50%);
    }
    .hover_arrow_icon{
      margin-left: -12px;
      left: 50%;
      bottom: -7px;
      transform: rotate(45deg);
    }
  }

  &:hover{
    .content{
      display: block;
    }
  }
}