.m_hover_container_tips{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  .icon{
    width: 14px;
    height: 14px;
    background: url("/src/static/icon_info.svg");
    &.active:hover{
      background: url("/src/static/icon_info_red.svg");
    }
  }
  .content{
    z-index: 999;
    color: #666;
    position: absolute;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #d2d6dc;
    border-radius: 6px;
    display: none;
    &.text_center{
      text-align: center;
    }

    .hover_content_main{
      background: #fff;
      padding: 12px 16px;
      position: relative;
      max-width: 500px;
      word-break: break-word;
      white-space: nowrap;
      border-radius: 6px;
      z-index: 1;
    }
    .hover_arrow_icon{
      position: absolute;
      width: 8px;
      height: 8px;
      border: solid 1px #d2d6dc;
      background: #fff;
      border-radius: 1px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    }
  }

  &.left{
    .content{
      top: 50%;
      right: 9px;
      margin-top: 3px;
      margin-right: 100%;
      transform: translateY(-50%);
    }
    .hover_arrow_icon{
      margin-top: -7px;
      top: 50%;
      right: -4px;
      transform: rotate(-45deg);
    }
  }

  &.right{
    .content{
      margin-top: 2px;
      top: 50%;
      left: 9px;
      margin-left: 100%;
      transform: translateY(-50%);
    }
    .hover_arrow_icon{
      margin-top: -7px;
      top: 50%;
      left: -4px;
      transform: rotate(135deg);
    }
  }

  &.bottom{
    .content{
      left: 50%;
      margin-left: 8px;
      top: 100%;
      margin-top: 9px;
      transform: translateX(-50%);
    }
    .hover_arrow_icon{
      margin-left: -12px;
      left: 50%;
      top: -4px;
      transform: rotate(-135deg);
    }
  }

  &.top{
    .content{
      left: 50%;
      margin-left: 7px;
      bottom: 100%;
      margin-bottom: 9px;
      transform: translateX(-50%);
    }
    .hover_arrow_icon{
      margin-left: -12px;
      left: 50%;
      bottom: -4px;
      transform: rotate(45deg);
    }
  }

  &:hover{
    >.content{
      display: block;
    }
  }
}