.m-toast-touch{
  max-width: 1.74rem;
  padding: 12px 35px;
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.87);
  left: 1rem;
  top: 3rem;
  position: fixed;
  word-break: break-word;
  text-align: center;
}