.m-toast-touch{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    max-width: 1.74rem;
    padding: .12rem .35rem;
    color: #fff;
    font-size: 15px;
    line-height: .21rem;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .87);
    word-break: break-word;
    text-align: center;
  }
}